<!-- views/new_page.erb --->
<form action="/create" method="post">
  <label for="filename"><p>Add a new document:</label>
  <div>
    <input name="filename" id="filename" type="text" placeholder="New File Name"><button type="submit">Create</button>
  </div>
</form>